@model IEnumerable<lab04.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecture">
                        @course.Name
                    </span>
                    <br />
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>
                <div class="action">
                    <a href="@Url.Action("Edit","Courses", new {id=course.Id})">Edit</a>
                    <a href="@Url.Action("Delete", "Courses", new { id = course.Id })" onclick="return confirm('Are you sure you want to delete this course?')">Delete</a>
                    @*<a href="#" class="js-cancel-course" data-course-id="@course.Id">Delete</a>*@
                </div>
            </li>
        }
    </ul>
    
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

